body{
  background-color: #33334d;
  text-align: center;
  margin: 0;
}

a{
  color: white;
}


hr{
  color: white;
  border-style: dashed;
  border-top-style: none;
  margin: 100px auto;
}
h1{
  color: #00ff99;
}

h2{
  color: #00ff99;
  font-size: 55px;
  font-family: 'Merriweather', serif;

}

h3{
  color: #99ffd6;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

th{
  color: #99ffd6;
  font-size: 20px;
}
td{
  color: white;
  font-size: 25px;
}

p{
  color: white;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

.social:hover{
  color: white;
}



.fixed_image{
  position: fixed;
  top: 0;
  left: 0;
  width: 125px;
}

.fixed_text{
  color: #00ff99;
  position: fixed;
  top: 115px;
  font-size: 15px;
  margin-top: 10px;
}

.first_container{
  margin-top: 10%;
}

.second_container{
  width: 50%;
  margin: 100px auto 10px auto;
}

.third_container{
  text-align: center;
  background-color: #1f1f2e;
  padding: 50px 0 20px;
  height: 5em;
  margin-top: 50px;


}


.upper-cloud{
  position: absolute;
  right: 30%;
  top: 5%;
}

.lower-cloud{
  position: absolute;
  top: 15%;
}

.heading_text{
  color: #00ff99;
  font-size: 586.6%;
  font-family: 'Beau Rivage', cursive;
  position: relative;
  top: 60px;
}

.second_heading{
  color: #00ff99;
  font-size: 300%;
  font-family: 'Square Peg', cursive;
  font-weight: lighter;
  position: relative;
  margin: 100px auto 100px auto;
}
.other_container{
  margin: 50px auto 100px auto;
}

.hobby{
  margin: 150px auto 100px auto;
  text-align:left;

}

.sport{
  margin-bottom: 40px;
}



.icons_first{
  width: 25%;
  float: right;

}
.icons_second{
  width: 25%;
  float: left;
  margin-bottom: 50px;
}

.icons_third{
  width: 25%;
  float: right;
}

.icons-one{
  width: 20%;


}
.icons{
  width: 20%;
  float: left;
}

.contact {
  background: #00ff99;
  background-image: -webkit-linear-gradient(top, #00ff99, #349971);
  background-image: -moz-linear-gradient(top, #00ff99, #349971);
  background-image: -ms-linear-gradient(top, #00ff99, #349971);
  background-image: -o-linear-gradient(top, #00ff99, #349971);
  background-image: linear-gradient(to bottom, #00ff99, #349971);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  margin: 100px auto;
}

.contact:hover {
  background: #e4e8eb;
  background-image: -webkit-linear-gradient(top, #e4e8eb, #3498db);
  background-image: -moz-linear-gradient(top, #e4e8eb, #3498db);
  background-image: -ms-linear-gradient(top, #e4e8eb, #3498db);
  background-image: -o-linear-gradient(top, #e4e8eb, #3498db);
  background-image: linear-gradient(to bottom, #e4e8eb, #3498db);
  text-decoration: none;
}

.my_contact{
  width: 45%;

}

.contact_heading{
  font-family: 'Merriweather', serif;
}

.number{
  color: white;
  font-size: 35px;
}

.phone{
  width: 40%;
  margin: 100px auto 100px auto;
}
.email{
  width: 40%;
  margin: 200px auto 100px auto;
}

.copyright{
  margin: 50px auto;
  text-align: center;
}

.social{
  font-size: 20px;
  text-decoration: none;
  color: #00ff99;
  margin: 50px 20px;

}


.copyright{
  font-size: 12px;
  margin-top: 50px;
  padding-top: 0;
}

